# fly.toml app configuration file generated for maguro-map on 2024-01-01T00:00:00Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "maguro-map"
primary_region = "nrt" # 東京リージョン

[build]

[env]
  RAILS_ENV = "production"
  PORT = "3001"

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]



[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512

