<p>こんにちは <%= @resource.email %>さん！</p>

<p>パスワードの再設定をリクエストされました。以下のリンクからパスワードを再設定できます。</p>

<p><%= link_to 'パスワードを変更する', "#{root_url}?reset_password_token=#{@token}" %></p>

<p>このリンクは24時間有効です。</p>

<p>このメールに心当たりがない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスしない限り、パスワードは変更されません。</p>
